.Inbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.InboxHeader {
  display: flex;
  flex-shrink: 0;
}

.InboxHeader__xmtp {
  flex: 0 0 var(--sidebar-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.InboxHeader__actions {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.InboxConversations {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}

.InboxConversations__list {
  overflow-y: auto;
  flex: 0 0 var(--sidebar-width);
  background-color: #eee;
}

.InboxConversations__messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.InboxConversations__messages > :nth-child(2) {
  flex-grow: 1;
  overflow: auto;
}
