:root {
  font-family: "SF Pro Rounded", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #213547;
  background-color: #fff;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#root > [data-rk] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
