.label {
  composes: visually-hidden from global;
}

.wrapper {
  padding: 0.25rem;
  background-color: white;
  border: 1px solid rgb(209 213 219);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wrapper:focus-within {
  border-color: rgb(79 70 229);
}

.input {
  border: none;
  resize: none;
  color: rgb(17 24 39);
  padding: 0.25rem;
  max-height: 10rem;
  margin-left: 0.5rem;
  flex-grow: 1;
  line-height: 1.5rem;
  background-color: transparent;
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .wrapper {
    font-size: var(--xmtp-font-size-md);
  }
}
