@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --secondary-background-color: #eee;
  --text-color: #213547;
  --brand-color: rgb(49 0 110);
  --border-radius: 8px;
  --sidebar-width: 28rem;
  font-family: "SF Pro Rounded", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--background-color);
}

.Button {
  background-color: var(--brand-color);
  color: white;
  border: 0;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.Button--secondary {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#root > [data-rk] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
