.wrapper {
  composes: pulse from global;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionRight {
  margin-right: 0;
  align-items: flex-end;
}

.element {
  border-radius: 9999px;
  background-color: rgb(229 231 235);
  height: 0.75rem;
}

.elementSmall {
  width: 8rem;
}

.elementMedium {
  width: 10rem;
}

.elementLarge {
  width: 20rem;
}

.elementLast {
  width: 4rem;
  height: 0.625rem;
}
