.wrapper {
  max-width: 32rem;
  composes: pulse from global;
}

.element {
  background-color: rgb(229 231 235);
  border-radius: 9999px;
}

.element1Line {
  height: 1rem;
  width: 12rem;
}

.element2Lines {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.element2Lines > :first-child {
  height: 0.75rem;
  width: 8rem;
}

.element2Lines > :last-child {
  width: 12rem;
  height: 0.625rem;
}
