/* TODO: Change to proper styling once designs are finished */

.btnLoaderWrapper {
  display: flex;
}

.btnLoaderLight {
  border-color: #c2c6d2;
}

.btnLoaderDark {
  border-color: #31006e;
}

.btnLoader {
  border-style: solid;
  border-top-color: transparent;
  border-radius: 9999px;
}

.btnLoaderSmall {
  border-width: 2px;
  width: 20px;
  height: 20px;
}

.btnLoaderLarge {
  border-width: 2px;
  width: 24px;
  height: 24px;
}

.btnLoaderAnimate {
  animation: btn-loader-spin 1s linear infinite;
}

@keyframes btn-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
