.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-xs {
  font-size: var(--xmtp-font-size-xs);
  line-height: 16px;
}

.text-sm {
  font-size: var(--xmtp-font-size-sm);
  line-height: 18px;
}

.text-md {
  font-size: var(--xmtp-font-size-md);
  line-height: 21px;
}

.text-lg {
  font-size: var(--xmtp-font-size-lg);
  line-height: 22px;
}

.text-xl {
  font-size: var(--xmtp-font-size-xl);
  line-height: 28px;
}

.text-2xl {
  font-size: var(--xmtp-font-size-2xl);
  line-height: 40px;
}

.text-mono {
  font-family: var(--xmtp-font-family-mono);
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
