/* TODO: Change to proper styling once designs are finished */

.wrapper {
  display: flex;
}

.light {
  border-color: #c2c6d2;
}

.dark {
  border-color: #31006e;
}

.element {
  border-style: solid;
  border-top-color: transparent;
  border-radius: 9999px;
  composes: spin from global;
}

.elementSmall {
  border-width: 2px;
  width: 20px;
  height: 20px;
}

.elementLarge {
  border-width: 2px;
  width: 24px;
  height: 24px;
}
